@use "lib/viewport";

// * We need to remove the bottom border for mobile view * //

@include viewport.until(md) {
  .sidebar-sections > .sidebar-section-wrapper {
    border-bottom: none !important;
  }
  
  // * Add mobile flex direction support * //

  .sidebar-sections {
    display: flex;
    flex-direction: column;
  }
}
